.spot-card-container {
  padding-top: 3em;
  width: 90%;
  margin: auto;
  display: grid;
}

.spot-card-container li {
  list-style-type: none;
  flex: 0 0 32%;
}

.navlink-spot-card {
  text-decoration: none;
  color: black;
}

.spot-card-city-box p {
  font-weight: 600;
}

.spot-card-image-box img {
  width: 100%;
  height: auto;

  border-radius: 10px;
}
