.spot-card-container {
  padding-top: 3em;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vw;
}

.spot-card-container li {
  list-style-type: none;
}

.navlink-spot-card {
  text-decoration: none;
  color: black;
}

.spot-card-city-box p {
  font-weight: 600;
}

.spot-card-image-box img {
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
}

.spot-card-text-box {
  padding: 0.1rem 0;
}

.spot-card-text-box:nth-of-type(1) {
  padding-top: 0.5rem;
}

.spot-card-city-box {
  display: flex;
  justify-content: space-between;
}

.spot-card-added-time-box,
.spot-card-available-box {
  color: rgb(113, 113, 113);
}
