.profile-dropdown-menu-button:hover {
  box-shadow: 1px 1px 1px 2px rgba(221, 221, 221, 0.5);
}
.profile-dropdown-menu-container li {
  list-style-type: none;
  padding: 10px 0;
  background: white;
  padding-left: 1.5rem;
}

.profile-dropdown-menu-button-box:hover {
  background-color: rgba(221, 221, 221, 0.5);
}

.profile-dropdown-button {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.profile-dropdown-button.signup {
  font-weight: bolder;
}
.profile-dropdown-button.login {
  font-size: lighter;
}

.profile-dropdown-menu-container {
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 15px 0;
  height: 25vw;
  width: 25vw;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
}
