.nav-block-filter {
  width: 50%;
}

.search-container {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 40px;
}

.search-container:hover {
  box-shadow: 1px 1px 1px 1px rgba(221, 221, 221, 0.3);
}

.search-button {
  font-size: 1rem;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-right: 1px solid #dddddd;
}

.search-button:nth-of-type(3) {
  border-right: transparent;
  color: #717171;
}

.search-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(255, 56, 92);
  border: none;
}
