.nav-container {
  padding: 20px 40px;
  border: 1px solid #dddddd;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  display: inline-block;
}

.nav-items.logo {
  display: block;
  padding-right: 100px;
}

.fa-w {
  color: #ff395c;
}

.nav-items.dropdown {
  position: relative;
}

.profile-dropdown-menu-button {
  background-color: transparent;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 10px 20px;
}

.profile-dropdown li {
  list-style-type: none;
  padding: 10px 0;
  background: white;
}

.profile-dropdown-button {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  border: none;
}
.profile-dropdown-button.signup {
  font-weight: bolder;
}
.profile-dropdown-button.login {
  font-size: lighter;
}

.profile-dropdown {
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 15px 0;
  height: 250px;
  width: 250px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
}
