button {
  cursor: pointer;
}

.nav-container {
  width: 100%;
  padding: 20px 0;
  border: 1px solid #dddddd;
}
.nav-bar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-block-logo {
  width: 33%;
}

.nav-block-filter {
  width: 50%;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  display: inline-block;
}

.nav-items.logo {
  display: block;
}

.fa-wave-square {
  color: #ff395c;
}
.search-container {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 40px;
}

.search-container:hover {
  box-shadow: 1px 1px 1px 1px rgba(221, 221, 221, 0.3);
}

.search-button {
  font-size: 1rem;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-right: 1px solid #dddddd;
}

.search-button:nth-of-type(3) {
  border-right: transparent;
  color: #717171;
}

.search-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff395c;
  border: none;
}

.fa-magnifying-glass {
  color: white;
}

.nav-create-spot {
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 40px;
}

.create-spot-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  width: max-content;
}

.nav-create-spot:hover {
  background-color: rgba(221, 221, 221, 0.3);
}

.globe-icon-box {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 10px 12px;
}

.globe-icon-box:hover {
  background-color: rgba(221, 221, 221, 0.3);
}

.nav-items.dropdown {
  position: relative;
  padding-left: 5px;
}

.profile-dropdown-menu-button {
  background-color: transparent;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.profile-menu-icon {
  padding-left: 2px;
  padding-right: 10px;
}

.profile-avatar-icon {
  border: 1px solid RGB(113, 113, 113);
  padding: 5px;
  border-radius: 50%;
  background-color: RGB(113, 113, 113, 0.8);
}

.fa-user {
  color: white;
}

.profile-dropdown-menu-button:hover {
  box-shadow: 1px 1px 1px 2px rgba(221, 221, 221, 0.5);
}
.profile-dropdown li {
  list-style-type: none;
  padding: 10px 0;
  background: white;
}

.profile-dropdown-button {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  border: none;
}

.profile-dropdown-button.signup {
  font-weight: bolder;
}
.profile-dropdown-button.login {
  font-size: lighter;
}

.profile-dropdown {
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 15px 0;
  height: 250px;
  width: 250px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
}
